.main-container {
  display: flex;
  margin-top: 20px;
}

.right-section {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.clients-container {
  margin-top: 20px;
}

.recruiters-container {
  margin-top: 20px;
}

.mattab-container {
  margin-top: 20px;
}

.button-group {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  margin-top: 20px; /* Add margin to separate from MatTab */
}